@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  height: 100%;
  width: 100%;
}

main{
  min-height: 84%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#__next{
  height:100%
}

.Home_container__bCOhY{
  height:100%
}

.min-h-full{
  min-height:fit-content
}
/*
post 
*/
.post{
  padding: 20px;
  background-color: rgb(226 232 240);
  cursor: pointer;
  height: fit-content;
  transition-duration: 200ms;
}

.post:hover{
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  transform: scale(1.03);
}

.post > div{
  display: inline-block;
}

.post > div > div{
  padding: 3px;
  font-weight: 300;
}

.post > div > a{
  font-weight: 600;
}

.prose{
  min-width: 50%;
  margin-right: 10%;
}

.date{
  font-weight: 100;
  font-style: italic;
  font-size: 0.875rem; 
  line-height: 1.25rem; 
  float : right
}

.postgrid{
  min-width: 50%;
  margin-top: 3%;
  margin-right: 10%;
}

.giticon{
  width: 50px;
  height: 50px;
  margin: 10px;
  
}

.category{
  padding-right: 10%;
  margin-top: 3%;
}

.m_cate div{
  padding-top: 10px;
}

.m_cate div:hover {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(71 85 105);
  cursor: pointer;
}

.thumnail{
  width:220px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
}

.pagination{
  text-align: center;
}

.pagebtn{
  display: inline-block;
  font-weight:400;
  width:35px;
  margin:3px;
  padding :3px;
  border-width: 1.7px;
  border-color: rgb(203 213 225);
  border-radius: 20%;
  transition-duration: 200ms;
}

.currpagebtn{
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 800;
  border-color: rgb(100 116 139);
  transform: scale(1.1);
}

.pagebtn:hover{
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 800;
  border-color: rgb(100 116 139);
  transform: scale(1.1);
}

.LoginPopup{
  position: absolute;
  width:500px;
  height: 300px;
  color: blueviolet;
}


